<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" [ngClass]="{ show: isExpanded }">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" routerLink="/articles">
                    <a class="navbar-brand"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li class="nav-item" routerLink="/login">
                    <a class="navbar-brand"><i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
                <li class="nav-item" routerLink="/register">
                    <a class="navbar-brand"><i class="fas fa-user-plus"></i>Register</a>
                </li>
                <li class="nav-item" routerLink="articles/create">
                    <a class="navbar-brand"><i class="fa fa-plus"></i>Create
                        article</a>
                </li>
                <li class="nav-item" routerLink="articles/details">
                    <a class="navbar-brand"><i class="fas fa-newspaper"></i>My articles</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" aria-expanded="false"><i
                            class="fas fa-user-shield"></i>Admin</a>
                    <ul class="dropdown-menu" role="menu">
                        <a class="dropdownItem" routerLink="admin/user-management">User management</a>
                        <a class="dropdownItem" routerLink="admin/articles/details">Article management</a>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0">

                <li class="nav-item" routerLink="/myProfile/">
                    <a><img src="../../../assets/profile.png" class="avatar" alt="Avatar"></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" *ngIf="isLogged" (click)="logout()"><i
                            class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>