@import url('./assets/reset.css');
@import url('./assets/layout.css');
@import url('./assets/responsive.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    border: 1px outset #147a9e;
    background-color: #e9ebee
}

.container {
    width: 90%;
    margin: auto;
    background-color: #fff
}


h4 {
    text-align: center;
    font-weight: bold;
    color: #147a9e;
}
h1 {
    color: #147a9e;
  }


a, button:hover {
    cursor: pointer;
}


.alert-danger {
  background-color: #bc204b;
  color: #fff;
  display: flex;
  justify-content: center;
}
