<div *ngIf="currentUser$ | async as user">
    <div class="profile">
        <div class="container"><img [src]="user.photo === null || user.photo === '' ? defaultAvatarPath : user.photo" alt="default user">
            <h3>User Info:</h3>
            <div class="flex">
                <p>Username: </p>
                <p>{{user.username}}</p>
            </div>
            <div class="flex">
                <p>FullName: </p>
                <p>{{user.fullname}}</p>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <p>+{{user.phoneCode}} {{user.phoneNumber}}</p>
            </div>
            <hr>
            <div id="buttons">
                <button type="button" class="btn btn-success" (click)="updateUser(user['_id'])">Update my profile</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser(user['_id'])">Delete my profile</button>
            </div>
        </div>
        
    </div>
</div>